<% @page_title = "Teams List" %>

<div id="back-button">
<%= link_to("Back", {:controller => 'access', :action => 'menu'}, :class => 'back-link') %>
</div>

<div class="menu">
  <h2>Teams</h2>
  <div class="identity"><%= pluralize(@teams.size, 'team') %> found</div>

<div class="team list">  
<div id="imageView">
      <%= link_to("", {:controller => 'tickets', :action => 'list', :team_id => 1}, :class => 'viewbull') %>
      <%= link_to("", {:controller => 'tickets', :action => 'list', :team_id => 2}, :class => 'viewcub') %>
      <%= link_to("", {:controller => 'tickets', :action => 'list', :team_id => 3}, :class => 'viewsox') %>
</div></div>
</div>
