<% @page_title = "Teams List" %>

<%= link_to("<< Back to Menu", {:controller => 'access', :action => 'menu'}, :class => 'back-link') %>

<div class="team list">
  <h2>Teams</h2>
  
  <%= link_to("Add New Team", {:action => 'new'}, :class => 'action new') %>

  <div><%= pluralize(@teams.size, 'team') %> found</div>
  
  <table class="listing" summary="Team list">
    <tr class="header">
      <th>ID</th>
      <th>Team</th>
      <th>Visible</th>
      <th>Actions</th>
    </tr>
    <% @teams.each do |team| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= team.position %></td>
      <td><%= team.name %></td>
      <td class="center"><%= status_tag(team.visible) %></td>

      <td class="actions">
        <%= link_to("View Tix", {:controller => 'tickets', :action => 'list', :team_id => team.id}, :class => 'action show') %>
        <%= link_to("Show", {:action => 'show', :id => team.id}, :class => 'action show') %>
        <%= link_to("Edit", {:action => 'edit', :id => team.id}, :class => 'action edit') %>
        <%= link_to("Delete", {:action => 'delete', :id => team.id}, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
