
<center>
<div id="back-button">
<%= link_to("Back", {:controller => "public", :action => 'index'}, :class => 'back-link') %>
</div>	
	
	<div id="headtwo"><%= @team.name %>
	</div>
	<table class="ticket-listing" summary="Ticket list">
	    <div id="sectionHeader">
		<tr class="sectionHeader">
		  <th></th>
	      <th></th>
		  <th></th>
	    </tr>
	</div>
		
	    <% @tickets.each do |ticket| %>
	    <tr class="ticket-list">
		  <td><img src=/images/<%= ticket.opposing_teams.location %>></td>
		  <td><i><%= ticket.opposing_teams.abbreviation %></i></td>
		  <td><b><%= ticket.game_at.strftime("%a, %m/%d/%Y %I:%M%p") %></b></td>
	      <td><%= link_to("View", {:controller => 'public_section', :action => 'show', :ticket_id => ticket.id}, :class => 'viewnext') %></td></tr>
	    <% end %>
	</table>	
</center>