
<center>
<div id="back-button">
<%= link_to("Back", {:controller => "public", :action => 'index'}, :class => 'back-link') %>
</div>	
	
	<div id="headtwo"><%= @team.name %>
	</div>
	<table class="ticket-listing" summary="Ticket list">
	    <div id="sectionHeader">
		<tr class="sectionHeader">
		  <th></th>
	      <th></th>
		  <th></th>
	    </tr>
	</div>
		
	    <% @tickets.visible.each do |ticket| %>
	
		<script>
			function toggle<%= ticket.id %>() {

					var ele = document.getElementById("toggleText<%= ticket.id %>");
					var text = document.getElementById("displayText<%= ticket.id %>");

					if(ele.style.display == "none") 
					{
				    	ele.style.display = "block";

				  	}
					else {
						ele.style.display = "none";

					}
			}
		</script>
	
	    <tr class="ticket-list">
		  <td><img src=/images/<%= ticket.opposing_teams.location %> width="75" opacity"0.8"></td>
		  <td><i><%= ticket.opposing_teams.abbreviation %></i></td>
		  <td><b><%= ticket.game_at.strftime("%a, %m/%d/%Y %I:%M%p") %></b></td>
	      
	     </tr>
			<td>
			<td>	
			<td class="sec-list">
				<div id="toggleText<%= ticket.id %>" style="display: block">
				    <% ticket.sections.visible.each do |section| %>
					<ul>
					  <li>
						<i>Section </i><%= section.name %> 
						<i>Row </i><%= section.row %>
						<i> Seat </i><%= section.seat %> 
						<b>$<%= section.price %></b>
					  </li>
		  			</ul>
					<% end %>
				</div>
			 </td>
			 </td>
			 </td>
<td><%= link_to("View", {:controller => 'public_section', :action => 'show', :ticket_id => ticket.id}, :class => 'viewnext') %></td>
	<% end %>
	</table>	
	
	
	
	
	
	<div id="sectionConditions">
	<% case @ticket.team_id when 1 %>
		    <%= link_to("Section 103 Row 12 Seats 13 & 14", {:controller => 'public_ticket', :action => 'show', :team_id => 1}, :class => 'viewbull1') %>
			<%= link_to("Section 315 Row 3 Seats 3 & 4", {:controller => 'public_ticket', :action => 'show', :team_id => 1}, :class => 'viewbull2') %>
	<% when 2 %>
			<%= link_to("Section 38 Row 10 Seats 3,4,5 & 6", {:controller => 'public_ticket', :action => 'show', :team_id => 2}, :class => 'viewcub1') %>
	<% when 3 %>
			<%= link_to("Section 122 Row 23 Seats 1,2,3 & 4", {:controller => 'public_ticket', :action => 'show', :team_id => 3}, :class => 'viewsox1') %>
	<% end %>
	</div>	
</center>