<center>
	<div id="headtwo"><%= @team.name %>
	</div>
	<table class="listing" summary="Ticket list">
	    <div id="sectionHeader">
		<tr class="sectionHeader">
	      <th>Game</th>
		  <th>Game Time</th>
	      <th>Sections</th>
	    </tr>
	</div>
	    <% @tickets.each do |ticket| %>
	    <tr class="<%= cycle('odd', 'even') %>">
	      <td><%= ticket.name %></td>
		  <td><%= ticket.game_at.strftime("%a, %b %d, %Y %I:%M%p") %></td>
	      <td>
	        <%= link_to("View", {:controller => 'public_section', :action => 'show', :ticket_id => ticket.id}, :class => 'viewnext') %>
	      </td>
	    </tr>
	    <% end %>
	  </table>
	
</center>