<% @page_title = "Sections List" %>

<div id="back-button">
<%= link_to("Back", {:controller => "tickets", :action => 'list', :team_id => @ticket.team_id}, :class => 'back-link') %>
</div>

<div class="menu">
	<div class="headers">
<h2>vs. <%= @ticket.name %></h2>
<h4><td><%= @ticket.game_at.strftime("%A, %B %d, %Y %I:%M%p") %></td></h4>
	</div>

  <div class="identity"><%= pluralize(@sections.size, 'section') %> found</div>

  <div id="addid">
  <%= link_to("Add New Section", {:action => 'new', :ticket_id => @ticket.id}, :class => 'action new') %>
  </div>

</div>

<div class="section list">
  <table class="listing" summary="Section list">
    <tr class="header">
      <th>Section</th>
	  <th>Row</th>
	  <th>Seat</th>
	  <th>Price</th>
      <th>Available</th>
      <th>Actions</th>
    </tr>
    <% @sections.each do |section| %>
    <tr>
      <td><%= section.name %></td>
	  <td><%= section.row %></td>
 	  <td><%= section.seat %></td>
	  <td>$<%= section.price%></td>
      <td class="center"><%= status_tag(section.visible) %></td>
      <td class="actions">
        <%= link_to("Show", {:action => 'show', :id => section.id}, :class => 'action show') %>
        <%= link_to("Edit", {:action => 'edit', :id => section.id}, :class => 'action edit') %>
        <%= link_to("Delete", {:action => 'delete', :id => section.id}, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
</div>
