<% @page_title = "Show Section: #{@section.name}" %>

<%= link_to("<< Back to List", {:action => 'list', :ticket_id => @ticket.id}, :class => 'back-link') %>

<div class="section show">
  <h2>Show Game</h2>

  <table summary="Section detail view">
    <tr>
      <th>ID</th>
      <td><%= @section.ticket_id %></td>
    </tr>
    <tr>
      <th>Section</th>
      <td><%= @section.name %></td>
    </tr>
    <tr>
      <th>Row</th>
      <td><%= @section.row %></td>
    </tr>
    <tr>
      <th>Seat</th>
      <td><%= @section.seat %></td>
    </tr>
    <tr>
      <th>Price</th>
      <td>$<%= @section.price %></td>
    </tr>
    <tr>
      <th>Visible?</th>
      <td><%= @section.visible ? 'true' : 'false' %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @section.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @section.updated_at %></td>
    </tr>
  </table>
  
</div>
