<% @page_title = "Show Section: #{@section.name}" %>

<div id="back-button">
<%= link_to("Back", {:action => 'list', :ticket_id => @section.ticket_id}, :class => 'back-link') %>
</div>

<div class="section show">
<div class="menu">	
  <h2>Show Game</h2>
</div>

  <table summary="Section detail view">
    <tr>
      <th>ID</th>
      <td><%= @section.ticket_id %></td>
    </tr>
    <tr>
      <th>Section</th>
      <td><%= @section.name %></td>
    </tr>
    <tr>
      <th>Row</th>
      <td><%= @section.row %></td>
    </tr>
    <tr>
      <th>Seat</th>
      <td><%= @section.seat %></td>
    </tr>
    <tr>
      <th>Price</th>
      <td>$<%= @section.price %></td>
    </tr>
    <tr>
      <th>Available?</th>
      <td><%= @section.visible ? 'Yes' : 'No' %></td>
    </tr>
    <tr>
      <th>Face Value</th>
      <td>$<%= @section.value %></td>
    </tr>
    <tr>
      <th>Sold?</th>
      <td><%= @section.sold ? 'Yes' : 'No' %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @section.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @section.updated_at %></td>
    </tr>
  </table>
  
</div>
