<%= error_messages_for(@tickets) %>

<table summary="Ticket form fields">
  <tr>
    <th><%= f.label(:team_id, "Team") %></th>
	<td><%= f.select(:team_id, @teams.collect {|p| [p.name, p.id]}) %></td>
  </tr>
  <tr>
    <th><%= f.label(:opposing_teams_id, "Opponent") %></th>
	<td><%= f.select(:opposing_teams_id, @opposing_teams.collect {|p| [ p.city+' '+p.name, p.id]}) %></td>
  </tr>
  <tr>
    <th><%= f.label(:game_at, "Game Time") %></th>
    <td><%= f.datetime_select(:game_at, :order => [:month, :day, :year],
:ampm => true, :prompt => {:day => 'Day', :month => 'Month', :year => 'Year'}) %></td>
  </tr>
  <tr>
    <th><%= f.label(:visible) %></th>
    <td><%= f.check_box(:visible) %></td>
  </tr>
  <tr>
    <th><%= f.label(:promo, "Promo") %></th>
    <td><%= f.text_field(:promo, :size => "66x2") %></td>
  </tr>
  <tr>
    <th><%= f.label(:notes, "Notes") %></th>
    <td><%= f.text_area(:notes, :size => "48x5") %></td>
  </tr>
</table>