<% @page_title = "Tickets List" %>

<div id="back-button">
<%= link_to("Back", {:controller => "teams", :action => 'list'}, :class => 'back-link') %>
</div>

<div class="menu">
  <h2><%= @team.name %> Tickets</h2>
  <div class="identity"><%= pluralize(@tickets.size, 'ticket') %> found</div>
  <div id="addid">
  <%= link_to("Add New Ticket", {:action => 'new', :team_id => @team.id}, :class => 'action new') %>
  </div>
</div>

<div class="ticket list">
	<table class="ticket-listing" summary="Ticket list">
	    <div id="sectionHeader">
		<tr class="sectionHeader">
      <th>Team</th>
      <th>City</th>
	  <th>Game Date</th>
      <th>Available</th>
      <th>Actions</th>
    </tr>
    <% @tickets.each do |ticket| %>
    <tr class="ticket-list">
	  <td><img src=/images/<%= ticket.opposing_teams.location %>></td>
	  <td><i><%= ticket.opposing_teams.abbreviation %></i></td>
	  <td><b><%= ticket.game_at.strftime("%a, %m/%d/%Y %I:%M%p") %></b></td>
      <td class="center"><%= status_tag(ticket.visible) %></td>
      <td class="actions">
        <%= link_to("View", {:controller => 'sections', :action => 'list', :tickets_id => ticket.id}, :class => 'viewnext') %>
        <%= link_to("Edit", {:action => 'edit', :id => ticket.id, :team_id => @team.id}, :class => 'action edit') %>
        <%= link_to("Delete", {:action => 'delete', :id => ticket.id, :team_id => @team.id}, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
</div>
