<% @page_title = "Show Ticket: #{@ticket.name}" %>

<div id="back-button">
<%= link_to("Back", {:action => 'list', :team_id => @team.id}, :class => 'back-link') %>
</div>

<div class="ticket show">
  <h2>Show Ticket</h2>


  <table summary="Team detail view">
    <tr>
      <th>Team</th>
      <td><%= @team.name %></td>
    </tr>
    <tr>
      <th>Opponent</th>
      <td><%= @ticket.opposing_teams.city %> <%= @ticket.opposing_teams.name %></td>
    </tr>
    <tr>
      <th>Game Time</th>
      <td><%= @ticket.game_at.strftime("%a, %b %d, %Y %I:%M%p") %></td>
    </tr>
    <tr>
      <th>Available?</th>
      <td><%= @ticket.visible ? 'Yes' : 'No' %></td>
    </tr>
    <tr>
      <th>Promo</th>
      <td><%= @ticket.promo %></td>
    </tr>
    <tr>
      <th>Notes</th>
      <td><%= @ticket.notes %></td>
    </tr>
  </table>
  
</div>
