
<center>
<div id="back-button"><%= link_to("Back", {:controller => "public_ticket", :action => 'show', :team_id => @ticket.team_id}, :class => 'back-link') %></div>

<div id="sections">
	<div class="headers"><table class="ticket-listing" summary="Ticket list"><tr class="ticket-list">
		<h2><td><img src=/images/<%= @ticket.team_id %>.jpeg height="75" opacity"0.8"> vs. <img src=/images/<%= @ticket.opposing_teams.location %> height="75" opacity"0.8"></td></h2></tr></table>
<h3><%= @ticket.opposing_teams.city %> <%= @ticket.opposing_teams.name %></h3>
<h4><td><%= @ticket.game_at.strftime("%A, %B %d, %Y %I:%M%p") %></td></h4>
<h5><td><i><%= @ticket.promo %></i></td></h5>
	</div>

	<table class="ticket-listing" summary="Ticket list">

	    <% @sections.each do |section| %>
	    <tr class="ticket-list"><center>
	      <td><i>Section</i> <%= section.name %></td>
	      <td><i>Row</i> <%= section.row %></td>
	      <td><i>Seat</i> <%= section.seat %></td>
		  <td><b>$<%= section.price %></b></td>
		</center>
	    </tr>
	    <% end %>
	  </table>
	<div id="purchaseView">
	<%= link_to("", {:controller => 'users', :action => 'new', :ticket_id => @ticket.id}, :class=>'purchase') %>
	</div>
</div>
</center>
	
	<div id="sectionConditions">
	<% case @ticket.team_id when 1 %>
		    <%= link_to("Section 103 Row 12 Seats 13 & 14", {:controller => 'public_ticket', :action => 'show', :team_id => 1}, :class => 'viewbull1') %>
			<%= link_to("Section 315 Row 3 Seats 3 & 4", {:controller => 'public_ticket', :action => 'show', :team_id => 1}, :class => 'viewbull2') %>
	<% when 2 %>
			<%= link_to("Section 38 Row 10 Seats 3,4,5 & 6", {:controller => 'public_ticket', :action => 'show', :team_id => 2}, :class => 'viewcub1') %>
	<% when 3 %>
			<%= link_to("Section 122 Row 23 Seats 1,2,3 & 4", {:controller => 'public_ticket', :action => 'show', :team_id => 3}, :class => 'viewsox1') %>
	<% end %>
	</div>
