<center>
<h2>vs. <%= @ticket.name %></h2>
<h4><td><%= @ticket.game_at.strftime("%a, %b %d, %Y %I:%M%p") %></td></h4>

	<table class="listing" summary="Ticket list">

	    <% @sections.each do |section| %>
	    <tr class="<%= cycle('odd', 'even') %>"><center>
	      <td>Section <%= section.name %></td>
	      <td>Row <%= section.row %></td>
	      <td>Seat <%= section.seat %></td>
		  <td>- $<%= section.price %></td>
		</center>
	    </tr>
	    <% end %>
	  </table>
	<div id="purchaseView">
	      <%= link_to("", {:controller => 'public_ticket', :action => 'show', :team_id => 1}, :class => 'purchase') %>
	</div>
</center>