<center>
<div id="back-button"><%= link_to("Back", {:controller => "public_ticket", :action => 'show', :team_id => @ticket.team_id}, :class => 'back-link') %></div>

<div id="sections">
	<div class="headers">
<h2>vs. <%= @ticket.name %></h2>
<h4><td><%= @ticket.game_at.strftime("%a, %b %d, %Y %I:%M%p") %></td></h4>
	</div>

	<table class="listing" summary="Ticket list">

	    <% @sections.each do |section| %>
	    <tr class="<%= cycle('odd', 'even') %>"><center>
	      <td>Section <%= section.name %></td>
	      <td>Row <%= section.row %></td>
	      <td>Seat <%= section.seat %></td>
		  <td>- $<%= section.price %></td>
		</center>
	    </tr>
	    <% end %>
	  </table>
	<div id="purchaseView">
	      <a class='purchase' href="mailto:jeremy.sinitean@gmail.com?Subject=I'd%20like%20these%20tickets"></a>
	</div>
</div>
</center>