
<center>
<div id="back-button"><%= link_to("Back", {:controller => "public_ticket", :action => 'show', :team_id => @ticket.team_id}, :class => 'back-link') %></div>

<div id="sections">
	<div class="headers">
<h2>vs. <%= @ticket.name %></h2>
<h4><td><%= @ticket.game_at.strftime("%A, %B %d, %Y %I:%M%p") %></td></h4>
<h5><td><i><%= @ticket.promo %></i></td></h5>
	</div>
<form action="mailto:jeremy.sinitean@gmail.com;a1recycler@gmail.com?cc=johnmsinitean@gmail.com;jeffrey.sinitean@gmail.com&Subject=<%= @ticket.opposing_teams.city %>%20<%= @ticket.opposing_teams.name %>:%20<%=  @ticket.game_at.strftime("%b %d, %Y %I:%M%p") %>&body=Which%20tickets%20would%20you%20like?" method="post">
	<table class="listing" summary="Ticket list">

	    <% @sections.each do |section| %>
	    <tr class="<%= cycle('odd', 'even') %>"><center>
	      <td>Section <%= section.name %></td>
	      <td>Row <%= section.row %></td>
	      <td>Seat <%= section.seat %></td>
		  <td>$<%= section.price %></td>
		
		</center>
	    </tr>
	    <% end %>
	  </table>
	<div id="purchaseView">
	<input type="submit" value="" class="purchase" >
	</div>
	</form>
</div>
</center>	
	<div id="sectionConditions">
	<% case @ticket.team_id when 1 %>
		    <%= link_to("Section 103 Row 12 Seats 13 & 14", {:controller => 'public_ticket', :action => 'show', :team_id => 1}, :class => 'viewbull1') %>
			<%= link_to("Section 315 Row 3 Seats 3 & 4", {:controller => 'public_ticket', :action => 'show', :team_id => 1}, :class => 'viewbull2') %>
	<% when 2 %>
			<%= link_to("Section 38 Row 10 Seats 3,4,5 & 6", {:controller => 'public_ticket', :action => 'show', :team_id => 2}, :class => 'viewcub1') %>
	<% when 3 %>
			<%= link_to("Section 122 Row 23 Seats 1,2,3 & 4", {:controller => 'public_ticket', :action => 'show', :team_id => 3}, :class => 'viewsox1') %>
	<% end %>
	</div>
