<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<LINK REL="SHORTCUT ICON" HREF="/favicon.ico" type="image/x-icon"> 
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>SiniTix | Admin</title>
<%= stylesheet_link_tag('admin', :media => 'all') %>
<div id="topPanel">
<div class="headone">Sinitean Tickets | Admin</div>
<% teams ||= [] %>
<ul>
<% teams.each do |team| %>
  <li><%= link_to( team.name, {:controller => "public_ticket", :action => 'show', :team_id => team.id}) %>
  </li>
  <% end %>
  <li class="active"><%= link_to("Logout", :action => 'logout') %></li>
  <li class="active"><a href="/">Public</a></li>
  <li class="active"><a href="/admin">Admin</a></li>
</ul>
<a href="/admin"><img src="http://growing-river-5665.herokuapp.com/images/logo.gif" title="Sport Tix" alt="Sport Tix" width="180" height="120" border="0" /></a>
</div>
<center>
<div id="content">
  <%= yield %>
</div></center>
<div class="clearfooter"></div>


<div id="footerPanel">
  <div id="footerbodyPanel">
  <ul>
	  <li class="active"><%= link_to("Logout", :action => 'logout') %></li>
	  <li class="active"><a href="/">Public</a></li>
	  <li class="active"><a href="/admin">Admin</a></li>
  <p id="copyright">&copy; Jeremy Sinitean</p>
  </ul>
  </div>
</div>
</html>